.flex-container-gallery {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly   ;
    position: relative

}

.flex-item-gallery {
    margin: 10px;
    
}
.flex-container-gallery span {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,.8);
    font-size: 0.7em;

}

.flex-container-gallery:hover span {
    display: block
  }

