.page-section {
  margin: 1em;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  color: rgb(0, 0,0);
}


@media only screen and (max-width: 1000px) {
  .page-section {
      margin: 0.5em;
      
  }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */
    
   @media only screen and (max-width: 500px) {
    .page-section {
        margin: 0.25em;
        font-size: 1.5rem
    }
}


